<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>672296230627-t8nfe0cugk661mqoului8e3833815l39.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.672296230627-t8nfe0cugk661mqoului8e3833815l39</string>
	<key>API_KEY</key>
	<string>AIzaSyDRh9fF-RmngLYasW4iN_GQUzX3J_njhtM</string>
	<key>GCM_SENDER_ID</key>
	<string>672296230627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tw.com.tvbs.live.broadcast.videos.news.international.tvbs</string>
	<key>PROJECT_ID</key>
	<string>international-tvbs</string>
	<key>STORAGE_BUCKET</key>
	<string>international-tvbs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:672296230627:ios:5ebe379703c2844a056fd6</string>
</dict>
</plist>